.card {
  background: white;
  width: 12rem;
  overflow-wrap: break-word;
  hyphens: manual;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
}

.card img {
  width: 100%;
}