

.meal-image {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 9px 9px 0 0;
}

.meal-box {
  width: 95vw;
  margin-top: 4rem;
  background-color: white;
  border-radius: 9px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.meal-text {
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.meal-name {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.meal-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--green);
  font-weight: bold;
  font-size: 1.1rem;
}

hr {
  height: 1px;
  background-color: rgb(216, 216, 216);
  border: none;
  width: 100%;
  margin: 0;
}

#eco-score {
  font-weight: bolder;
  color: rgb(218, 131, 49);
  font-size: 1.5rem;
}

.tips {
  margin-bottom: 10rem;
}

.info-link {
  position: absolute;
  right: 2rem;
  margin-top: 1rem;
  text-decoration: none;
}

.info-btn {
  background-color: rgba(180, 180, 180, 0.336);
  padding: 0.5rem;
  border-radius: 9px;
  backdrop-filter: blur(12px) saturate(200%);
  color: white;
  display: flex;
  align-items: center;
}