.card {
  width: 75vw;
  height: 14rem;
  padding: 0;
  filter: drop-shadow(0px 2px 8px #5252524d);
  margin-top: 3rem;
}

.pic img {
  object-fit: cover;
  height: 14rem;
  border-radius: 9px;
  filter: brightness(60%);
  position: absolute;
}

.card-content {
  position: relative;
  display:flex;
  justify-content: space-between;
  width: 75vw;
  height: 14rem;
}

.name-tag {
  margin: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  width: 40%;
}

.stats {
  background-color: rgba(167, 167, 167, 0.329);
  width: 40%;
  backdrop-filter: blur(12px) saturate(180%);
  border-radius: 0 9px 9px 0;
  padding: 0.5rem;
  color: white;
}

.stats p {
  margin: 0.5rem;
  margin-bottom: 1rem;
}